/* ==========================================================================
    ALERTS
   ========================================================================== */

.alert {
    background: $brand-alert;
    border: 1px solid darken((desaturate($brand-alert, 50%)), 5%);
    border-radius: $brand-radius;
    padding: spacer(4);
    position: relative;
    margin-bottom: spacer(4);

    &,
    h4 {
        color: $root-color;
        font-weight: 600;
    }

    p:last-child {
        margin: 0;
    }
}

.alert-danger,
.alert-error {
    background: lighten($brand-danger, 35%);
    border: 1px solid darken((desaturate($brand-danger, 50%)), 5%);

    &,
    h4 {
        color: $brand-danger;
    }
}

.alert-info {
    background: $brand-info;
    border: 1px solid darken((desaturate($brand-info, 50%)), 5%);

    &,
    h4 {
        color: darken($brand-info, 50%);
    }
}

.alert-success {
    background: lighten($brand-success, 35%);
    border: 1px solid darken((desaturate($brand-success, 50%)), 5%);

    &,
    h4 {
        color: darken($brand-success, 20%);
    }
}
