/* ==========================================================================
    ALERTS
   ========================================================================== */

.alert {
    border-radius: $brand-radius;
    margin-bottom: spacer(4);
    padding: spacer(4);
    position: relative;

    &-heading {
        margin-top: 0;
    }
}


.alert-danger,
.alert-error {
    background: #f2dede;
    border: 1px solid darken(adjust-hue($brand-danger, -10), 5%);
    color: #a94442;
}

.alert-info,
.alert-message,
.alert-notice {
    background: #d9edf7;
    border: 1px solid darken(adjust-hue($brand-info, -10), 5%);
    color: #31708f;
}

.alert-success {
    background: #dff0d8;
    border: 1px solid darken(adjust-hue($brand-success, -10), 5%);
    color: #3c763d;
}

.alert-warning {
    background: #fcf8e3;
    border: 1px solid darken(adjust-hue($brand-warning, -10), 5%);
    color: #8a6d3b;
}
