
/* ==========================================================================
    BREADCRUMB
   ========================================================================== */

.breadcrumb {

    @extend .list-unstyled;

    @include font-size($scale-down1);

    li {
        display: inline-block;
        margin-right: .25em;

        &:after{
            content:"\00BB" "\00A0"; // Chevron style
        //    content:"\002F" "\00A0"; // Path style
            margin-left: .5em;
        }

        &:last-child:after {
            content:"";
        }
    }
}
