
/* ==========================================================================
    DROPDOWNS
   ========================================================================== */

// The dropdown wrapper (div)
.dropdown {
    position: relative;

    .icon-caret-down:before {
        margin: 0;
    }
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
    outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {

    background: $brand-background;
    border: 1px solid $border-color;
    border-radius: $brand-radius;
    display: none; // none by default, but block on "open" of the menu
    font-weight: $root-weight;
    min-width: 12em;
    position: absolute;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    width: 100%;
    z-index: 2;
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.075));

    @include mq(md) {
//        margin-top: spacer(2);
    }

    // Links within the dropdown menu
    > li {

        border-bottom: 1px solid $border-color;

        > a {
            color: $root-color;
            white-space: nowrap; // prevent links from randomly breaking onto new lines

            &:hover,
            &:focus {
                text-decoration: none;
                color: $link-color-hover;
            }
        }
    }
}


// Open state for the dropdown
.open {

    // Show the menu
    > .dropdown-menu {
        display: block;
    }

    // Remove the outline when :focus is triggered
    > a {
        outline: 0;
    }
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
