
/* ==========================================================================
    BUTTONS
   ========================================================================== */

/* ==========================================================================
    BUTTONS
   ========================================================================== */

%btn { // Let's save ourselves from having to use two button classes per button. Bootstrap.
    background-color: transparent;
    border: 2px solid lighten($root-color, 15%);
    border-radius: $button-radius;
    color: lighten($root-color, 15%);
    cursor: pointer;
    display: inline-block;
    font-family: $button-family;
    font-weight: $strong-weight;
    font-size: inherit;
    margin: 0 spacer(1) spacer(4) 0;
    padding: spacer(2) spacer(4);
    width: 100%;
    text-align: center;
    text-decoration: none;
    @include font-smoothing;
    @include transition(all .4s ease);

    @include mq(sm) {
        width: auto;
    }

    &:active,
    &:hover,
    &:focus {
        background: rgba(0,0,0,.05);
        border-color: $root-color;
        color: $root-color;
    }

    // Any button with an icon should get extra padding. Duh.
    &[class^="icon-"],
    &[class*=" icon-"] {

        &:before {
            margin-right: .5em;
        }
    }
}

/* BUTTON COLOURS */
.btn-default, // We don't need to declare multiple button classes. Just one is enough.
.btn-primary,
.btn-success,
.btn-danger,
.btn-info,
.btn-warning {
    @extend %btn;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-danger,
.btn-warning {

    &:active,
    &:hover,
    &:focus {
        color: #fff;
    }
}

.btn-primary {

    border-color: $brand-primary;
    color: $brand-primary;

    &:active,
    &:hover,
    &:focus {
        background: $brand-primary;
        border-color: darken($brand-primary, 5%);
    }

}

.btn-success {

    border-color: $brand-success;
    color: $brand-success;

    &:active,
    &:hover,
    &:focus {
        background: $brand-success;
        border-color: darken($brand-success, 5%);
    }
}

.btn-danger {

    border-color: $brand-danger;
    color: $brand-danger;

    &:active,
    &:hover,
    &:focus {
        background: $brand-danger;
        border-color: darken($brand-danger, 5%);
    }
}

.btn-info {

}

.btn-warning {

}

/* BUTTON SIZING */

.btn-small {
//    padding: spacer(1, $scale-down1) spacer(2, $scale-down1);
    @include font-size($scale-down1);
}


.btn-large {
    padding: spacer(2) spacer(4);
}


.btn-huge {
    margin-bottom: spacer(4, $scale-up1);
    padding: spacer(3, $scale-up1) spacer(6, $scale-up1);
    @include font-size($scale-up1);
}

.btn-natural {
    width: 100%;
}

.btn-inline {
    margin: 0;
}
