
/* ==========================================================================
    CLOSE ICONS
   ========================================================================== */

.close {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 50%;
    font-weight: 600;
    color: $root-color;
    filter: alpha(opacity = 70)!important;
    line-height: $root-baseline * .5;
    opacity: 0.7!important;
    padding: .25em;
    position: absolute;
    top: spacer(1);
    right: spacer(1);

    &:hover,
    &:focus {
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity = 1)!important;
        opacity: 1!important;
    }

}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
    cursor: pointer;
    background: transparent;
    border: 1px transparent;
    line-height: normal;
    margin: 0;
    padding: spacer(2);
    -webkit-appearance: none;
}
