
/* ==========================================================================
    CLOSE ICONS
   ========================================================================== */

.close {
    font-weight: $strong-weight;
    color: $root-color;
    line-height: $root-lineheight * .5;
    padding: .25em;
    position: absolute;
    top: spacer(1);
    right: spacer(1);

    &:hover,
    &:focus {
        text-decoration: none;
        cursor: pointer;
    }
}
