
/* ==========================================================================
    CONTAINER
   ========================================================================== */

/* A lovely old-skool box */
.container {

	@include box-shadow(0 0 1px 1px rgba(0,0,0,.1));
	border-radius: $brand-radius;
	max-width: $wrapper-width;

	@include mq(lg) {
		margin: 2em auto;
	}

}
