
/* ==========================================================================
    FORMS
   ========================================================================== */

.form-inline {

    @include mq(sm) {

        [class*="btn-"]{
            margin: 0;
        }

        .form-control {
            margin-bottom: 0;
        }
    }
}


.form-horizontal {

}
