
/* ==========================================================================
    FLOATY GRID
   ========================================================================== */

// A mixin so this can be applied semantically and within media-queries.
@mixin row {
    margin-left: spacer(-2);
    margin-right: spacer(-2);
    @include clearfix;
}

.row {
    @include row;
}

@mixin bsgrid-setup($namespace: "col-") {

    // DRY enough?
    .#{$namespace}1,
    .#{$namespace}2,
    .#{$namespace}3,
    .#{$namespace}4,
    .#{$namespace}5,
    .#{$namespace}6,
    .#{$namespace}7,
    .#{$namespace}8,
    .#{$namespace}9,
    .#{$namespace}10,
    .#{$namespace}11,
    .#{$namespace}12 {
        float: left;
        padding-left: spacer(2);
        padding-right: spacer(2);
    }

    .#{$namespace}1     { width: 8.333%; }
    .#{$namespace}2     { width: 16.666%; }
    .#{$namespace}3     { width: 25%; }
    .#{$namespace}4     { width: 33.333%; }
    .#{$namespace}5     { width: 41.666% }
    .#{$namespace}6     { width: 50%; }
    .#{$namespace}7     { width: 58.333%; }
    .#{$namespace}8     { width: 66.666%; }
    .#{$namespace}9     { width: 75%; }
    .#{$namespace}10    { width: 83.333%; }
    .#{$namespace}11    { width: 91.666%; }
    .#{$namespace}12    { width: 100%; }

      // Offset classes double the weight of our grid code, only uncomment if needed.
//    .#{$namespace}offset-1     { margin-left: 8.333%; }
//    .#{$namespace}offset-2     { margin-left: 16.666%; }
//    .#{$namespace}offset-3     { margin-left: 25%; }
//    .#{$namespace}offset-4     { margin-left: 33.333%; }
//    .#{$namespace}offset-5     { margin-left: 41.666% }
//    .#{$namespace}offset-6     { margin-left: 50%; }
//    .#{$namespace}offset-7     { margin-left: 58.333%; }
//    .#{$namespace}offset-8     { margin-left: 66.666%; }
//    .#{$namespace}offset-9     { margin-left: 75%; }
//    .#{$namespace}offset-10    { margin-left: 83.333%; }
//    .#{$namespace}offset-11    { margin-left: 91.666%; }
//    .#{$namespace}offset-12    { margin-left: 100%; }

}

//@include bsgrid-setup();

// This mixin generates namespaced width declarations at our breakpoints.

//@include mq(xs) {
    @include bsgrid-setup("col-xs-");
//}

@include mq(sm) {
    @include bsgrid-setup("col-sm-");
}

@include mq(md) {
    @include bsgrid-setup("col-md-");
}

@include mq(lg) {
    @include bsgrid-setup("col-lg-");
}

//@include mq(xl) {
//    @include bsgrid-setup("col-xl-");
//}
