/* ==========================================================================
    HERO
   ========================================================================== */

// Displays big text, on a colored background, with padding.
.hero {
	position: relative;
	text-align: center;
	z-index: 1;

	h1, .alpha,
	h2, .beta {

		@include mq(lg) {
			@include font-size($scale-up5);
		}
	}

	p {
		@include font-size($scale-up1);

		@include mq(md) {
			@include font-size($scale-up2);
		}
	}

	// Reversed text hero, for use on dark backgrounds or over dark images.
	&.reversed {

		&,
		h1, .alpha,
		h2, .beta {
			color: $body-background !important;
		}
	}
}

// Displays big text, with padding, centered over an image.
.hero-image {
	@extend .hero;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	img {
		width: 100%;
	}
}
