
/* ==========================================================================
    LISTS
   ========================================================================== */

.list-unstyled {
    list-style-type: none;

}

.list-block {

    @extend .list-unstyled;

    li {
    //    margin-bottom: spacer(2);
    }
}

.list-inline {

    margin-left: 0;

    li {
        display: inline-block;
        margin-right: .5em;
    }


}
