
/* ==========================================================================
    LISTS
   ========================================================================== */

.list-block {

    list-style-type: none;
    padding: 0;

    li {
        margin-bottom: spacer(2);
    }

}
