
/* ==========================================================================
    NAVIGATION
   ========================================================================== */

/* Remove list styles and throw child elements into a horizontal list. */
.nav {

    @extend .margin-off-all;

    list-style: none;
    font-weight: $strong-weight;
    padding: 0;
    margin-left: spacer(-3);

    a {
        display: block;
        padding: spacer(1.5) spacer(2);
    }

    > li {
        display: inline-block;
        margin-left: spacer(1.5);
    }

}

/* Creates a vertical list of blocky, finger-friendly, links. */
.nav-stacked {

    li {

        @extend .margin-off-all;
        display: block;

        a {
            display: block;

        }
    }
}
