
/* ==========================================================================
    OVERLAYS
   ========================================================================== */

// Create a lovely color-wash overlay, images for example.
.overlay {

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &-primary {

        @extend .overlay;

        &:before {
            background: transparentize($primary-color, .75);
        }
    }

    &-complement {

        @extend .overlay;

        &:before {
            background: transparentize($complement-color, .75);
        }
    }

    &-secondary {

        @extend .overlay;

        &:before {
            background: transparentize($secondary-color, .75);
        }
    }

    &-tertiary {

        @extend .overlay;

        &:before {
            background: transparentize($tertiary-color, .75);
        }
    }
}
