
/* ==========================================================================
    PAGINATION
   ========================================================================== */

/* Blog and article pagination */
.pagination {
    text-align:center;

    ul {
        @extend .nav;

        span {
            padding: spacer(2);
        }
    }
}

/* Article pagination */
.pagenav {

    li {
        display: inline-block;

        a {
            @extend %btn;
            margin: 0;
        }
    }

    .previous {

    }
    .next {
        float: right;
        text-align: right;
    }
}
