
/* ==========================================================================
    SECTION
   ========================================================================== */

/* Gives the content sections some breathing space */
.section {
	@extend .wrapper;
	max-width: $wrapper-width;
	@include space;

	@if $show-wireframe == true {
		@include box-shadow(0 0 0 1px rgba(0,0,0,.5) inset);
	}
}
