
/* ==========================================================================
    TABS
   ========================================================================== */

// Hide tabbable panes to start, show them when `.active`
.tab-content {

    > .tab-pane {
        display: none;
    }

    > .active {
        display: block;
    }
}

.nav-tabs {

//    margin: 0;

    li {
        background: $brand-background;
        border: 1px solid $border-color;
        border-radius: $brand-radius $brand-radius 0 0;
        margin: spacer() spacer(2) -1px 0;
        padding: spacer(2) spacer(4);
        @include box-shadow(0 0 2px 1px rgba(0,0,0,.025));
        @include transition;

        &.active {
            background: #fff;
            border-bottom: 1px solid transparent;
        }

        &:hover,
        &:focus {
            background: lighten($brand-background, 2%);

            a {
                color: $link-color-hover;
            }

        }
    }
}
