
/* ==========================================================================
   	CODE
   ========================================================================== */

pre,
code,
kbd,
samp {
    font-family: $code-font-family;
}

pre {
    background-color: $pre-background;
    border: 1px solid $border-color;
    border-radius: $brand-radius;
    margin: 0 auto spacer(4) auto;
    padding: spacer(3);
}
