
/* ==========================================================================
    HEADINGS
   ========================================================================== */

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    color: $heading-color;
    font-family: $heading-family;
    font-weight: $heading-weight;

    @if $opentype == true {
        // Turn on discretionary ligatures for larger headings
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
    }
}

/*
 * Size increments are set according to our chosen modular scale.
 * Increments for h4 and h5 are zeroed out (1em) at smaller sizes
 * to maintain legibility.
 */
h1,
.alpha {
    @include font-size($scale-up3, none);

    @include mq(lg) {
        @include font-size($scale-up4, none);
    }

}

h2,
.beta {
    @include font-size($scale-up2);

    @include mq(lg) {
        @include font-size($scale-up3);
    }
}

h3,
.gamma {
    @include font-size($scale-up1);

    @include mq(lg) {
        @include font-size($scale-up2);
    }
}

h4,
.delta {
    @include font-size($root-size-em);

    @include mq(lg) {
        @include font-size($scale-up1);
    }
}

h5, .epsilon,
h6, .zeta {

    font-weight: $strong-weight;
    @include font-size($scale-down1);

    @include mq(lg) {
        @include font-size($root-size-em);
    }
}
