
/* ==========================================================================
    HEADINGS
   ========================================================================== */

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    color: $heading-color;
    font-family: $heading-family;
    font-weight: $heading-weight;
    margin: 0;
    @include font-smoothing;

    @if $opentype == true {
        // Turn on discretionary ligatures for larger headings
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
    }
}

/*
 * Size increments are based on W3C recommendations, www.w3.org/TR/CSS21/sample.html
 * but are set according to our chosen modular scale. Increments for h4 and h5 are
 * zeroed out (1em) at smaller sizes to maintain legibility.
 */
h1,
.alpha {
    margin-bottom: spacer(4, $scale-up3);
    @include set-type(6, $scale-up3);

    @include mq(lg) {
        margin-bottom: spacer(4, $scale-up4);
        @include set-type(8, $scale-up4);
    }

}

h2,
.beta {
    margin-bottom: spacer(2, $scale-up2);
    @include set-type(5, $scale-up2);

    @include mq(lg) {
        margin-bottom: spacer(4, $scale-up3);
        @include set-type(6, $scale-up3);
    }
}

h3,
.gamma {
    margin-bottom: spacer(2, $scale-up1);
    @include set-type(5, $scale-up1);

    @include mq(lg) {
        margin-bottom: spacer(2, $scale-up2);
        @include set-type(5, $scale-up2);
    }
}

h4,
.delta {
    font-size: 1em;
    margin-bottom: spacer(4);

    @include mq(lg) {
        margin-bottom: spacer(2, $scale-up1);
        @include set-type(5, $scale-up1);
    }
}

h5, .epsilon,
h6, .zeta {
    font-size: 1em;
    margin-bottom: spacer(2, $scale-down1);
    @include set-type(5, $scale-down1);
}
