
/* ==========================================================================
    NAVIGATION
   ========================================================================== */

nav {

	font-family: $sans-family;

    ul {
        margin: 0;
        padding: 0;
    }
}
