
/* ==========================================================================
    ROOT
   ========================================================================== */

/* Define the root element styles. */
html {
    background: $root-background;
    box-sizing: border-box;
    color: $root-color;
    overflow-y: scroll;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */

*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Lobotomized owls FTW!
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

* + * {
    margin-top: spacer(4);
}

@if $opentype == true {

    // Turn on kerning, standard ligatures, and proportional and oldstyle numerals.
    // Turn off all other ligatures, tabular, lining numerals and alternates.

    html,
    body {
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    }
}

/* Style the body element styles. */
body {
    background: $body-background;
    font: #{$root-weight} #{$root-size-em}/#{$root-lineheight} $root-family;
    margin: 0;
    @include font-smoothing;

    // If set in project vars show the typographic baseline visually
    @if $show-baseline == true {
        position: relative;

        &:before {
            content: "";
            display: block;
            background-image: -webkit-linear-gradient(rgba(0, 0, 233, .1) 1px, rgba(0, 0, 0, 0) 1px);
            background-image: linear-gradient(rgba(0, 0, 233, .1) 1px, rgba(0, 0, 0, 0) 1px);
            background-size: 100% ($root-lineheight * 1em);
            pointer-events: none;
            position: absolute;
            width: 100%;

        //    top: -($root-lineheight - $cap-height) *.5em;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

/* Colour selected text. */
 ::-moz-selection {
    background-color: $brand-color;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: $brand-color;
    color: #fff;
    text-shadow: none;
}
