
/* ==========================================================================
    ROOT
   ========================================================================== */

/* Define the root element styles. */
html {
    background: $root-background;
    box-sizing: border-box;
    color: $root-color;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    @include font-smoothing;
}

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */

*, *:before, *:after {
    box-sizing: inherit;
}


@if $opentype == true {

    // Turn on kerning, standard ligatures, and proportional and oldstyle numerals.
    // Turn off all other ligatures, tabular, lining numerals and alternates.

    html,
    body {
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    }
}

/* Style the body element styles. */
body {
    background: $body-background;
    font: #{$root-weight} #{percentage($root-size / 16px)}/#{$root-baseline} $root-family;

    // If set in project vars show the typographic baseline visually
    @if $show-baseline == true {
        background-image: url(http://basehold.it/i/#{strip-units(round($root-baseline * $root-size))});
    }
}


/* Colour selected text. */
 ::-moz-selection {
    background-color: $brand-color;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: $brand-color;
    color: #fff;
    text-shadow: none;
}
