
/* ==========================================================================
    RULES
   ========================================================================== */

hr {
    background: $border-color;
	border: 0;
    display: block;
    height: 1px;
    line-height: ceil($root-size-em / $root-baseline) * ($root-baseline / $root-size-em);
    margin: spacer(4) 0;
}
