
/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

/* PARAGRAPHS */
p {
    @include font-size($root-size-em, none);
    orphans: 3;
    widows: 3;
    word-wrap: break-word;

    @include hyphens;

    //Numbers in paragraphs should kick it Old Skool: http://bit.ly/1g0uevo
    -moz-font-feature-settings: 'onum=1';
    -ms-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    -o-font-feature-settings: 'onum';
    font-feature-settings: 'onum';

    @if $paragraph-indent {
        + p {
            margin-top: spacer(-4);
            text-indent: spacer(4);
        }
    }

    @include mq(md) {
        @if $paragraph-justify {
            text-align: justify;
        }
    }
}

/* Typically used in the first paragraph of an article, for added awesome. */
.intro {
    @include font-size($scale-up1);
    @if $paragraph-indent {
        margin-bottom: spacer(5, $scale-up1);
    }
}

/* BLOCK QUOTES */

/* Default margin indent is zeroed out and padded to allow styling of element. */
blockquote {
    border-left: 2px solid $border-color;
    padding: 0 0 0 spacer(4);
    margin: 0 0 spacer(4) spacer(-4);

    &:before,
    &:after {
        content: '';
        content: none;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    > cite,
    + cite {
        margin-bottom: 0;
    }
}

/* CITATIONS */
cite {
    display: block;
    margin-top: spacer(2, $scale-down1);
    @include font-size($scale-down1);

    &:before {
        content: "\2014";
        margin-right: 1em;
    }
}

/* INLINE QUOTES */
q {
    quotes: "\2018" "\2019" "#{$open-quote}" "#{$close-quote}";

    &:before {
        content: "\2018";
        content: open-quote;
    }
    &:after {
        content: "\2019";
        content: close-quote;
    }
}

/* ABBREVIATIONS */
abbr {

    text-transform: uppercase;

    @if $opentype == true {

    // Turn on small caps for upper and lowercase letters
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    }
}

/* SUPER AND SUBSCRIPTS */
sup {

    @if $opentype == true {
        // Turn on proper supercript numerals
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
    }
}

sub {

    @if $opentype == true {
        // Turn on proper subscript numerals
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
        -moz-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
        font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
    }
}
