
/* ==========================================================================
    FOOTER
   ========================================================================== */

.footer-row {
    background: $root-background;
    border-top: 1px solid $border-color;
	padding: spacer(4) 0;
}

[role="contentinfo"] {
	@extend %wrapper;
}
