
/* ==========================================================================
   Site logo
   ========================================================================== */

.logo-block {
    display: inline-block;
//    margin-bottom: spacer(4);

    @include mq(md) {
//        margin-bottom: 0;
        vertical-align: middle;
    }
}

.logo {
    background: url(../img/logo.png) no-repeat;
    background-size: 90px;
    display: inline-block;
    height: 90px;
    vertical-align: middle;
    width: 90px;
    @include text-hide;
}
