
/* ==========================================================================
    PRIMARY NAVIGATION
   ========================================================================== */

/* MAIN NAVIGATION */
.nav-primary {

    font-family: $heading-family;
    vertical-align: middle;

    @include mq(md) {
        text-align: right;
    }
}

.nav-row {

}
