
/* ==========================================================================
    FLUID TYPE
   ========================================================================== */

/* Increase root font size with viewport */
html {

    font-size: 100%; // 16px if the root was 16px

    @include mq(sm) {
        font-size: 112.5%; // 18px if the root was 16px
    }

	@include mq(md) {
		font-size: 125%; // 20px if the root was 16px
	}

	@include mq(lg) {
	    font-size: 137.5%; // 22px if the root was 16px
	}

	@include mq(xl) {
		font-size: 150%; // 24px if the root was 16px
	}

}
